body {
  padding-bottom: 20px;
}

.hide {
  display: none;
}
.strong {
  font-weight: bold;
  color: #333;
}

.dark .strong {
  font-weight: bold;
  color: #fefefe;
}

.loading {
  margin: 0 auto;
  display: block;
}

.container {
  max-width: min(50%, 100em);
  position: relative;
}

header {
  display: flex;
}

header h1 {
  width: -moz-available;
}

.item-heading .item-title {

  margin-bottom: 0;
  font-size: 1.1rem;
}

.item-heading {
  margin-bottom: 2px;
}

.item-heading .date {
  float: right;
}

.item-heading:after {
  content: '';
  clear: both;
  display: table;
}

.item {
  padding: 3px;
}
.item:nth-of-type(even) {
  background: #ccc;
}

.item-content {
  margin-bottom: 1.75rem;
  padding: 15px;
  margin-top: -2px;
  border-top: none;
}


.feeds {
  position: absolute;
  left: max(-25vw, -500px);
  width: min(25vw, 500px);
  margin: 0 5px;
}

.feeds .alert {
  margin-bottom: 1px !important;
}

.alert:hover:not(.alert-success):not(.no-items) {
  border-color: #ff2e88;
  color: #00bcd4;
  cursor: pointer;
  font-weight: bold;
}

.menu {
  text-align: right;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:not(:disabled):hover svg path {
  fill: #ff2e88;
}

.dark button svg path {
  fill: #eee;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(600px, 80vw);
  background: white;
  box-shadow: 1px 2px 3px #333
}

@media only screen and (min-width: 701px) {
  .feed-toggle {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .feeds{
    position: initial;
    width: 100%;
    height: 0px;
    margin: 0;
    overflow: hidden;
    transition: all 2s;
  }
  .container {
    max-width: 100em;
  }
}

.feeds.show-mobile {
  height: 50vh;
  overflow-y: scroll;
}

.dark {
  background: #333;
}



.item-content .card-content {
  all: unset;
  width: 100% !important;
  overflow: scroll !important;
  overflow-x: auto !important;
}

.item-content .card-content * {
  max-width: 100% !important;
  height: auto !important;
}

.item-content .card-content table {
  width: 100% !important;
}

.item-content .card-content img {
  margin: auto auto !important;
}

.item-content .card-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  font-weight: 500;
}

.item-content .card-content a {
  color: #333;
  font-weight: bold;
}
.dark .item-content .card-content a {
  color: #ccc;
}

.card-header {
  padding: 5px !important;
}
